/**
 * Place your custom styles here.
 */

/* not sure why this is needed - it breaks xs nav
#navbar {
  height: 5px;
}*/
#navbar-collapse .navbar-nav li a {
  top: -1px;
}

#block-search-form {
  display: inline-block;
  float: none;
}

/* Navigation */
#block-system-user-menu {
  display: inline-block;
  float: right;
}
#block-system-user-menu h2 {
    display: none;
}
#block-system-user-menu .nav {
  border-bottom: none;
}
#block-system-user-menu .nav li {
    float: left;
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  #block-system-user-menu {
    float: none;
  }
  .navbar #block-search-form {
    float: right;
  }
  .navbar #block-search-form .form-text {
    display: none;
  }
}
/* This should be served from https://cdn.jsdelivr.net/npm/@unicorn-fail/drupal-bootstrap-styles@0.0.2/dist/3.3.1/7.x-3.x/drupal-bootstrap.css but is blocked on Catalyst? */
@media screen and (min-width: 992px) {
  .navbar #block-search-form {
    float: right;
    width: 200px;
  }
}

/* xs, Mobile nav */
#navbar {
  height: 50px;
}
@media (max-width: 767px) {
  #navbar {
    margin-top: 0;
    height: auto;
  }

  /* Hide Whitewater NZ text in logo by making page title non-transparent */
  h1.page-header {
    background: white;
    margin-top: 50px;
  }
  /* Hide slogan */
  #page-header p {
    display: none;
  }

  /* Hide breadcrumb */
  .breadcrumb {
    display: none;
  }

  .main-container>.row {
    margin-top: 80px;
  }

  #block-views-rivers-news-latest-news h2 {
    display: none;
  }
}

.main-container {
  margin-top: 50px;
  padding-bottom: 20px;
}

#page-header {
  position: relative;
  left: -15px;
}
#page-header img {
  position: absolute;
  top: -65px;
  left: 0; /* Stop Firefox blowout */
}

.main-container>.row>section {
  margin-top: 30px;
}

.breadcrumb {
  margin-top: 5px;
  margin-bottom: 10px;
}

.front h1.page-header {
  display: none;
}
.front .alert-info {
  margin-bottom: 0;
}
#block-rivers-blocks-rivers-welcome-d7 h2 {
  margin-top: -5px;
}

.footer {
  margin-top: 0px;
}
/* xs */
@media (max-width: 767px) {
  #block-rivers-blocks-rivers-catalyst-cloud {
    margin-top: 2em;
    text-align: center;
  }
}
/* sm+ */
@media (min-width: 768px) {
  #block-rivers-blocks-rivers-catalyst-cloud {
    float: right;
  }
}

.block-masquerade  {
  clear: both;
}

/* Homepage news block */
#block-views-rivers-news-latest-news {
  padding-left: 0;
}
#block-views-rivers-news-latest-news h3 {
    margin-top: 0;
}
#block-views-rivers-news-latest-news h3 a {
    color: black;
}
.view-rivers-news ul {
  list-style-type: none;
    padding-left: 0;
}
.view-rivers-news li {
    clear: both;
    padding-bottom: 0.5em;
}
.view-rivers-news li .views-field-field-highlight-image {
    float: left;
    margin-right: 0.5em;
}
.view-rivers-news .more-link {
  clear: both;
}
/* pager */
.view-rivers-news .text-center {
    clear: both;
}

/* forums block */
#block-rivers-forum-rivers-forum-summary,
#block-rivers-issue-rivers-issue {
  /*background: #009eac url(../images/quotes.gif) no-repeat 4px 7px;*/
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-right: 0;
}
/* sm */
@media (max-width: 991px) {
  #block-rivers-forum-rivers-forum-summary,
  #block-rivers-issue-rivers-issue {
    padding-right: 15px;
  }
}

#block-rivers-forum-rivers-forum-summary .panel-heading,
#block-rivers-issue-rivers-issue .panel-heading {
  padding-top: 0;
  background: #009eac url(../images/quotes.gif) no-repeat 4px 7px;
  border-radius: 5px 5px 0 0;
  color: white;
  border: none;
}
#block-rivers-forum-rivers-forum-summary h2,
#block-rivers-issue-rivers-issue h2 {
  margin-top: 4px;
  padding-top: 1px;
  margin-left: 15px;
  font-size: 20px;
  color: white;
}
#block-rivers-forum-rivers-forum-summary .panel-body,
#block-rivers-issue-rivers-issue .panel-body {
  padding: 5px;
  background: #009eac;
  border-radius: 0 0 5px 5px;
}
#block-rivers-forum-rivers-forum-summary ul,
#block-rivers-issue-rivers-issue ul {
  padding-left: 0;
}
#block-rivers-forum-rivers-forum-summary ul li,
#block-rivers-issue-rivers-issue ul li {
  list-style-type: none;
}
#block-rivers-forum-rivers-forum-summary ul li a,
#block-rivers-issue-rivers-issue ul li a {
  color: white;
}

/*#block-rivers-issue-rivers-issue {
  background: #009eac url(../images/quotes.gif) no-repeat 4px 7px;
  border-radius: 5px;
}
#block-rivers-issue-rivers-issue h2 {
  margin-top: 3px;
  margin-left: 15px;
  font-size: 20px;
  color: white;
}*/

/*#block-rivers-forum-rivers-forum-summary {
  clear: left;
}*/


/* customisations for rivers.org.nz /constitution. */
span.amendment2000 {
    font-style: italic;
    background: #ffeedd;
}
span.amendment2002 {
    font-style: italic;
    background: #ddeeff;
}
span.amendment2003 {
    font-style: italic;
    background: #ddffdd;
}
span.amendment2005 {
    font-style: italic;
    background: #faf1a4;
}
span.amendment2010 {
    font-style: italic;
    background: #ccffff;
}
span.amendment2015 {
    font-style: italic;
    background: #ffff99;
}
span.amendment2016 {
    font-style: italic;
    background: #e8bbfb; /* purple */
}

/* News archive */
.view-rivers-news .views-row {
    padding-top: 0.25em;
}
.view-rivers-news h2 {
    font-size: 24px;
    margin-bottom: .1em;
}
.view-rivers-news h2 a {
    color: black;
}
.view-rivers-news .views-field-changed,
.view-rivers-news .views-field-field-topic {
  display: inline-block;
}
.view-rivers-news .views-field-changed {
  color: #999;
}

/* Events, Calendar */
.view-rivers-calendar .sat,
.view-rivers-calendar .sun {
    background: #eee;
}
.view-rivers-calendar .has-events {
  background: #C3D6E4;
}
.view-rivers-calendar .today {
    font-weight: bold;
}
/* Events block on homepage */
#block-views-rivers-calendar-block-2 .view-rivers-calendar ul {
  padding-left: 0;
}
#block-views-rivers-calendar-block-2 .view-rivers-calendar li  {
  list-style-type: none;
}
.node-rivers-event .field-name-field-status .event-changed,
#block-views-rivers-calendar-block-2 .view-rivers-calendar li .views-field-field-status .event-changed {
  padding: 3px;
  background: #fff080;
  color: black;
}
.node-rivers-event .field-name-field-status .event-cancelled,
#block-views-rivers-calendar-block-2 .view-rivers-calendar li .views-field-field-status .event-cancelled {
  padding: 3px;
  background: #fb8654;
  color: black;
}
#block-views-rivers-calendar-block-2 .date-display-remaining {
  visibility: hidden;
}

/* Section node page */
.node-section .info {
    width: 45%;
    margin-right: 1em;
    float: left;
    padding: 10px;
    background: #eee;
    overflow: hidden;
}
.node-section .info h3 {
  margin-top: 0;
}

.footer {
    background: #ddd;
}
#block-menu-menu-rivers-footer-menu h2 {
  display: none;
}

/* Forums */
#forum tr.odd {
  background: #eee;
}

.node-type-forum .field-name-field-files .field-item {
  border: 1px solid red;
    float: left;
    width: 180px;
}
.node-type-forum article.node-forum #comments,
.node-type-forum article.node-forum footer {
    clear: both;
}
.node-forum .comment h3 {
    display: none;
}
.node-forum .comment-wrapper .links {
    float: right;
}

.user-picture {
  width: 80px;
  float: left;
  margin-right: 1em;
}
.node-forum .field-name-taxonomy-forums {
  display: none
}
.node-forum footer {
  display: none;
}
#comments {
  padding-top: 1em;
}
.comment {
  border-top: 1px solid #009eac;
}

/* Article */
.node-article .summary {
  padding-bottom: 1em;
  font-style: italic;
}


/* CiviCRM */
.page-civicrm #page-header {
  display: none;
}

body {
  background: url("../images/d6_background.png");
}
.main-container {
  background: white;
}

/* Override default bootstrap 100% width for form elements */
.form-control {
  width: auto;
}

/* /user/register page */
#crm-container label,
#user-profile-form .label,
#user-register-form .label {
  color: #000;
}

/* Developers */
div.geshifilter {
  margin: 0.5em 0;
  border: none;
}
div.geshifilter pre {
  border: none;
  background: transparent;
}

/* whitewater.nz promo */
.front .alert-info {
  background: url("/sites/all/modules/custom/rivers_blocks/img/banner-1.jpg");
  color: white;
  border: none;
}
.front .alert-info p,
.front .alert-info ul {
  font-size: 18px;
}
.front .alert-info a {
  color: white;
  text-decoration: underline;
}
.front .alert-info > .glyphicon {
  display: none;
}
