/* copy of styles from bootstrap */

.page-node-add-section .region-help,
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.page-node-add-section .block-rivers-guide,
.alert-info {
  /*color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;*/
}

